html{
height: 100%;
}

body {
background-image: linear-gradient(135deg, #e1aafb 10%, #1b7160 100%);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: "Open Sans", sans-serif;
color: #333333;
}

#box-form {
margin: 0 auto;
width: 90%;
background-color: #fff;
border-radius: 10px;
overflow: hidden;
display: flex;
align-items: stretch;
box-shadow: 0 0 20px 6px #47465885;
}

#left {
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
width: 100%; 
}

#left-header {
display: contents;
}

#left-header-text {
text-align: center;
font-size: 2vmax;
line-height: 400%;
font-weight: 600;
margin: 0%;
background-image: url("../images/road.jpg");
color: #fff;
}

#left-search{
justify-content:space-between;
padding: 1%;
}

#map-location-container{
width: 10%;
height: 10%;
margin-top: 2%;
margin-left: 2%;
}

.search-area {
width: 100%;
margin-top: 2%;
padding: 10px;
font-size: 16px;
border: none;
outline: none;
border-right: 2px solid #B0B3B9;
}

#start-location{
margin-left: 2%;
}

#date{
border-right: 0;
}

#search-button{
margin-top: 2%;
margin-left: 2%;
margin-right: 1%;
font-size: 15px;
border-radius:50px;
box-shadow: 0px 2px 10px 0px #262626a6;
background-color: #5a6aafc1;
background-image:none;
background-size: 100% 100%;
background-repeat: no-repeat;
}

#search-button:hover {
background-size: 0% 100%;
background-color: #2f3d35;
transition: .4s;
}

#left-content {
display: flex;
flex-direction: column;
align-items:stretch;
}

#start-pic{
margin-top: 1%;
object-fit: cover;
align-items: center;
background-image: url("../images/startpic.png");;
}

#left-content-start-pic{
margin-top: 1.5%;
min-height: 100%;    
}

.ride-share-content{
font-size: 120%;
font-family: "Open Sans", sans-serif;
margin: 3%;
height: 100%;
width: 90%;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

#ride-share-content-bottom{
margin-top: 0;
}

.display-board {
display: flex;
flex-wrap: wrap;
flex-direction: row;
text-align:center;
gap: 5%;
padding:2%;
font-size: 15px;
}

.box {
background-color: #e9eaed;
height: 100%;
width: 25%;
padding: 2%;
font-size: 15px;
text-align: center;
justify-content: center;
cursor: pointer;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 0 5px 1px #91919285;
letter-spacing: 0.5px;
line-height: 1.5;
display: flex;
flex-direction: column;
}

.route-detial-button {
margin-top: 5%;
margin-left: 25%;
width: 50%;
box-shadow: 0px 1px 5px 0px #545554a6;
background: linear-gradient(135deg, #227708ab 10%, #723396b6 100%)right;
background-size: 100% 100%;
background-repeat: no-repeat;
}

.route-detial-button:hover {
background-size: 0% 100%;
background-color: #38493f;
transition: .4s;
}

.horizontal-alignment {
display: flex;
justify-content: space-between;
align-items: center;
}

#right {
font-size: 30px;
color: #5a6aaf;
display: flex;
width: 25%;
background-color: #b8c688ee;
flex-direction: column;
}

#header-logo {
width: 80%;
height: 30%;
margin: 10%;
margin-bottom: 0;
}

#new-post {
width: 70%;
height: 100%;
padding: 5%;
margin: 10%;
margin-bottom: 0px;
font-size: 16px;
font-family: sans-serif;
font-weight: 500;
display: flex;
flex-direction: column;
color: #fff;
}

.new-post-button{
font-size: 13px;
border-radius:10px;
box-shadow: 0px 2px 10px 0px #767775a6;
background: linear-gradient(135deg, #be6ee7 10%, #74b89ec2 100%)right;
background-size: 100% 100%;
background-repeat: no-repeat;
margin-left: 5%;
height: 10%;
}

.new-post-button:hover {
background-size: 0% 100%;
background-color: #b088c4b9;
transition: .4s;
}

#new-post-button-right{
font-size: 20px;
font-weight: 800;
margin-top: 10%;
margin-left: 0;
height: 50%;
width: 100%;
}

img {
min-width: 10%;
min-height: 10%;
max-width: 100%;
max-height: 100%;
object-fit: cover;
}

#logout{
display: flex;
justify-content: center;
padding: 10%;
}

#logout-button{
color: #fff;
font-size: 15px;
border-radius:50px;
box-shadow: 0px 2px 10px 0px #434443a6;
background: linear-gradient(135deg, #7d7d7e85 10%, #7b7d7d 100%)right;
background-size: 100% 100%;
background-repeat: no-repeat;
}

#logout-button:hover {
background-size: 0% 100%;
background-color: #91919285; 
transition: .4s;
}

button {
color: #fff;
font-size: 13px;
font-family: "Open Sans", sans-serif;
padding: 10px 30px;
border-radius:10px;
border: 0;
outline: 0;
cursor: pointer;
background-size: 100% 100%;
background-repeat: no-repeat;
background: linear-gradient(135deg, #227708ab 10%, #723396b6 100%)right;
}

.loader {
border: 5px solid #f3f3f3;
border-top: 5px solid #72cad6;
border-radius: 50%;
width: 35px;
height: 35px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#loader-container {
width: 100%;
padding: 2%;  
}

#loader{
margin-left: 50%;
}