html{
height: 100%;
}

body {
background-image: linear-gradient(135deg, #e1aafb 10%, #1b7160 100%);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: "Open Sans", sans-serif;
color: #333333;
}

button {
color: #fff;
font-size: 13px;
font-family: "Open Sans", sans-serif;
padding: 10px 30px;
border-radius:10px;
border: 0;
outline: 0;
cursor: pointer;
background-size: 100% 100%;
background-repeat: no-repeat;
background: linear-gradient(135deg, #227708ab 10%, #723396b6 100%)right;
}

img {
min-width: 10%;
min-height: 10%;
max-width: 100%;
max-height: 100%;
object-fit: cover;
}

#box-form {
margin: 0 auto;
width: 90%;
background-color: #fff;
border-radius: 10px;
overflow: hidden;
display: flex;
align-items: stretch;
box-shadow: 0 0 20px 6px #47465885;
}

#left {
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
width: 100%; 
}

#left-header {
display: contents;
}

#left-header-text {
text-align: center;
font-size: 2vmax;
line-height: 400%;
font-weight: 600;
margin: 0%;
background-image: url("../images/road.jpg");
color: #fff;
}

#left-content {
height: 100%;
width: 100%;
}

.horizontal-alignment {
display: flex;
justify-content: space-between;
align-items: center;
}

#date-time {
margin: 4%;
}

#date-time-content{
font-size: 2vmax;
text-align: center;
font-weight: 600;
}

#start-end-location {
margin: 2%;
}

#start-end-location-content {
font-size: 150%;
text-align: center;
font-weight: 600
}

#map-container {
margin: 2%;
margin-left: 5%;
margin-right: 5%;
}

#map { 
height: 500px; 
border-radius: 25px;
box-shadow: 0px 2px 10px 0px #5a6aaf;
}

#route-info {
text-align: center;
font-size: 120%;
font-weight: 600;
margin-top: 3%;
}

#left-bottom {
display: flex;
flex-direction: column;
width: 70%;
margin-top: 6%;
margin-bottom: 10%;
margin-left: 10%;
padding: 5%;
border-top: solid #808382;
border-bottom: solid #808382;
border-width: 10%; 
}

#user-container {
display: flex;
flex-direction: row;
}

#user-content {
font-size: 130%;
text-align: left;
font-weight: 400;
margin-left: 3%;
}

#user-contact {
display: flex;
flex-direction: row;
margin-top: 2%;
}

#user-contact-content {
font-size: 130%;
text-align: left;
font-weight: 400;
margin-left: 3%;    
}

#seat {
display: flex;
flex-direction: row;
margin-top: 2%;
}

#seat-content {
font-size: 130%;
text-align: left;
font-weight: 400;
margin-left: 3%;
}

#note {
display: flex;
flex-direction: row;
margin-top: 2%;
}

#note-content {
font-size: 130%;
text-align: left;
font-weight: 400;
margin-left: 3%;
}

img {
min-width: 1%;
min-height: 1%;
max-width: 4%;
max-height: 4%;
}

#right {
font-size: 30px;
color: #5a6aaf;
display: flex;
width: 25%;
background-color: #b8c688ee;
flex-direction: column;
}

#header-logo {
width: 80%;
height: 100%;
margin: 10%;
}

#icon {
min-width: 10%;
min-height: 10%;
max-width: 100%;
max-height: 100%;   
}

#new-post {
width: 70%;
height: 100%;
padding: 5%;
margin: 10%;
margin-bottom: 0px;
font-size: 16px;
font-family: sans-serif;
font-weight: 500;
display: flex;
flex-direction: column;
color: #fff;
}

.new-post-button{
font-size: 13px;
border-radius:10px;
box-shadow: 0px 2px 10px 0px #767775a6;
background: linear-gradient(135deg, #be6ee7 10%, #74b89ec2 100%)right;
background-size: 100% 100%;
background-repeat: no-repeat;
}

.new-post-button:hover {
background-size: 0% 100%;
background-color: #b088c4b9;
transition: .4s;
}

#new-post-button-right{
font-size: 20px;
font-weight: 800;
margin-top: 10%;
height: 50%;
width: 100%;
}

#back {
display: flex;
justify-content: center;
}

#back-button {
color: #fff;
font-size: 15px;
border-radius:50px;
box-shadow: 0px 2px 10px 0px #434443a6;
background: linear-gradient(135deg, #7d7d7e85 10%, #7b7d7d 100%)right;
background-size: 100% 100%;
background-repeat: no-repeat;
}

#back-button:hover {
background-size: 0% 100%;
background-color: #91919285; 
transition: .4s;
}

#logout {
display: flex;
justify-content: center;
padding: 10%;
}

#logout-button {
color: #fff;
font-size: 15px;
border-radius:50px;
box-shadow: 0px 2px 10px 0px #434443a6;
background: linear-gradient(135deg, #7d7d7e85 10%, #7b7d7d 100%)right;
background-size: 100% 100%;
background-repeat: no-repeat;
}

#logout-button:hover {
background-size: 0% 100%;
background-color: #91919285; 
transition: .4s;
}


